
.cabecalho {
    background-color: black;
    height: 100px;
}



/* BANNER INICIAL */



.banner-inicio {
    color: white;

    padding: 50px 105px 50px;
    height: 80vh;
    background-image: url(../imgs/Rectangle\ 41.png);
    background-size: cover;

    display: flex;
    justify-content: space-between;
    
}

.bem-vindo {
    display: flex;
    flex-direction: row;

    color: #ffffff;

    
    font-size: 3em;
    height: 100px;
}

.card-michael {
    display: grid;
    gap: 0px;
    
}

.card-michael p {
    text-align: center;
    color: #FFFFFF;
    font-size: 2em; 
    width: 458px;
    height: auto;

}

.card-ouvindo {
    height: 400px;
    width: 300px;

}
.card-ouvindo p {
    font-size: 2em;
    width: 300px;
    margin-bottom: 20px;
}

.play-musica {
    position: relative;
}

.botao-interativo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;


}

.botao-play {
    background-color: #0C2B6D;
    right: -20px;
    bottom: -20px;
}

#icone-play {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 130%;
}

.itens-esquerda {
    display: grid;
    justify-content: space-between;
}



/* ARTISTAS FAVORITOS */



.artistas-favoritos {
    padding: 0 90px 0;
}

.favoritado img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.favoritado {
    position: relative;
}

.artistas {
    display: flex;
    justify-content: space-between;
}

.botao-favorito {
    right: -15px;
    bottom: 15px;
}

#icone-coracao {
    color: #FF0000;
    font-size: 200%;
}

.adicionar {
    background-color: none;
}







